[submodule "microshell"]
	path = microshell
	url = https://github.com/DrItanium/microshell
[submodule "libcommoncommunication"]
	path = libcommoncommunication
	url = https://github.com/DrItanium/libcommoncommunication.git
[submodule "maya"]
	path = maya
	url = https://github.com/DrItanium/maya
